<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Templats</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in all_users%}
        <li>{{user.first_name}}</li>
        <li>{{user.last_name}}</li>
        <li>{{user.email_address}}</li>
        <li>{{user.age}}</li>
        {% endfor %}
    </ul>
    <form action="/adduser" method="POST">
        {%csrf_token%}
        first_name <input type="text" name="first_name">
        last_name <input type="text" name="last_name">
        email_address <input type="text" name="email_address">
        age <input type="number" name="age">
        <button type="submit"></button>
    </form>
</body>
</html>