<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <h1>Create a new User</h1>
    <form action="/registration" method="POST">
        {%csrf_token%}
        First Name <input type="text" name="first_name" id="">
        Last Name <input type="text" name="last_name" id="">
        Email <input type="email" name="email" id="">
        Password <input type="password" name="password" id="">
        Confirm Password<input type="password" name="confirm_password" id="">
        <button type="submit"> Register </button>
    </form>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
<h1>Login if existing User</h1>
    <form action="/login" method="POST">
        {%csrf_token%}
        Email <input type="email" name="email" id="">
        Password <input type="password" name="password" id="">
        <button type="submit">Login</button>
    </form>
</body>
</html>