<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a trip</title>
</head>

<body>
    <h1>Hello {{user.first_name}} Create a trip!</h1>
    <form action="/logout" method="POST">
        {%csrf_token%}
        <button type="submit"> Logout </button>
    </form>
    <form action="/dashboard" method="POST">
        {%csrf_token%}
        <button type="submit"> dashboard </button>
    </form>
    <form action="/trips/new" method="POST">
        {%csrf_token%}
        Destination <input type="text" name="destination">
        Start Date <input type="date" name="start_date">
        End Date <input type="date" name="end_date">
        Plan <input type="text" name="plan">
        <button type="submit"> Add Trip!</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>