<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Show</title>
</head>
<body>
    <a href="/"> Go back </a>
    Edit show {{shows.id}}
    <form action="" method="POST">
        {%csrf_token%}
        Title <input type="text" name="title" id="">
        Network <input type="text" name="network" id="">
        Release Date <input type="text" name="release_date" id="">
        Description <input type="text" name="description" id="">
        <button type="submit"> Update </button>
    </form>
    <a href="/shows/{{shows.id}}"> Back to show info</a>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
</body>

</html>