<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors homepage</title>
</head>
<body>
    <h3>Add a book</h3>
    <form action="/create" method="POST">
        {%csrf_token%}
        <label for="title"> Title</label>
        <input type="text" name="title" id="title">
        <label for="description"> Description </label>
        <input type="text" name="description" id ="description">
        <button type="submit"> Add </button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for book in books%}
            <tr>
                <td>{{book.id}} </td>
                <td>{{book.title}} </td>
                <td>
                    <a href="/books/{{book.id}}">view</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>