<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time display Assignment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <script src="{% static 'js/script.js' %}copy"></script>

</head>
<body>
    <div id="wrapper">
        <div class="clock">
            <h1>The current time is:</h1>
            <p>The current time is {{time}}</p>
        </div>
    </div>
</body>
</html>